.env
.env.local
.env.example
.vscode
CLAUDE.md
.claude

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv
.python-version
data/
!src/data/
*.zip
*.log
docs/
config/certs/
mlruns
*.sql
.DS_Store
uploads/
=2.0
basic_auth.ini
*.bak
